Repository xiaomi-mt6885-devs/pmaports_cezanne: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  before_script:
  - echo 'https://dl-cdn.alpinelinux.org/alpine/edge/testing' >> /etc/apk/repositories
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

device-xiaomi-beryllium: add sensor support
  device/community/device-xiaomi-beryllium/APKBUILD
Due: wiki

firmware-xiaomi-beryllium: include sensor firmware files
  device/community/firmware-xiaomi-beryllium/APKBUILD
  device/community/firmware-xiaomi-beryllium/firmware.files
  device/community/firmware-xiaomi-beryllium/sensor.files
Due: none

firmware xiaomi - fix checksum
  device/community/firmware-xiaomi-beryllium/APKBUILD
Due: none

fixup! temp/hexagonrpcd: new aport (upgrade to v0.3.0)
  temp/hexagonrpcd/APKBUILD
  temp/hexagonrpcd/hexagonrpcd-adsp-rootpd.initd
  temp/hexagonrpcd/hexagonrpcd-adsp-sensorspd.initd
Due: none

fixup! community/firmware-shift-sdm845: use new hexagonrpcd paths
  device/community/firmware-shift-sdm845/APKBUILD
Due: none

fixup! community/firmware-oneplus-sdm845: use new hexagonrpcd paths
  device/community/firmware-oneplus-sdm845/APKBUILD
  device/community/firmware-oneplus-sdm845/sensor.files
Due: none

device-xiaomi-beryllium: enable hexagonrpcd service
  device/community/device-xiaomi-beryllium/APKBUILD
  device/community/device-xiaomi-beryllium/device-xiaomi-beryllium-nonfree-firmware.post-install
  device/community/device-xiaomi-beryllium/device-xiaomi-beryllium-nonfree-firmware.post-upgrade
Due: wiki

firmware beryllium textrels fix
  device/community/firmware-xiaomi-beryllium/APKBUILD
Due: none

device beryllium: ship hexagonrpcd confd file
  device/community/device-xiaomi-beryllium/APKBUILD
  device/community/device-xiaomi-beryllium/hexagonrpcd.confd
Due: wiki

hexagonrpcd dont ship confd, its device specific
  temp/hexagonrpcd/APKBUILD
  temp/hexagonrpcd/hexagonrpcd.confd
Due: none

device beryllium fix path
  device/community/device-xiaomi-beryllium/APKBUILD
Due: wiki

firmware beryllium: fix folder typo
  device/community/firmware-xiaomi-beryllium/APKBUILD
  device/community/firmware-xiaomi-beryllium/sensor.files
Due: none

xiaomi-cezanne: new device
  device/testing/device-xiaomi-cezanne/APKBUILD
  device/testing/device-xiaomi-cezanne/deviceinfo
  device/testing/linux-xiaomi-cezanne/APKBUILD
  device/testing/linux-xiaomi-cezanne/config-xiaomi-cezanne.aarch64
  device/testing/linux-xiaomi-cezanne/fix_some_build_error.patch
  device/testing/linux-xiaomi-cezanne/selinux_include_generated_headers.patch
  device/testing/linux-xiaomi-cezanne/stop-inlining-blk_crypto_flock-and-ksm_flock.patch
  device/testing/linux-xiaomi-cezanne/use_system_cpio.patch
  device/testing/linux-xiaomi-cezanne/use_system_dtc.patch
Due: wiki, kernel-kconfig

Path conditions:
  wiki: any of: device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .gitlab-ci.yml
  kernel-kconfig: any of: device/*/linux-*/config-*, main/linux-*/config-*
